*{
	margin: 0;
	padding: 0;
}
.ulTag_L{
	width: 490px;
	height: 40px;
	border: solid 0px white;
	font-size:13px;
	color: #A4A4A4;
	line-height: 40px;
	margin-left: 288px;
	float: left;
}
.ulTag_L li{
	list-style: none;
	padding: 3px;
}
.int_L:link{color: #A4A4A4;}
.int_L:visited{color: #A4A4A4;}
.int_L:active{color: #A4A4A4;}
.int_L:hover{color: #AFEEEE;}
.int_L{
	text-decoration: none;
	padding: 3px;
}
.ulTag_R{
	width: 433px;
	height: 40px;
	border: solid 0px red;
	font-size:13px;
	color: #A4A4A4;
	line-height: 40px;
	position: absolute;
	left: 1155px;
}
.ulTag_R li{
	list-style: none;
	padding: 3px;
}
.int_R:link{color: #A4A4A4;}
.int_R:visited{color: #A4A4A4;}
.int_R:active{color: #A4A4A4;}
.int_R:hover{color: #AFEEEE;}
.int_R{
	text-decoration: none;
	padding: 3px;
}
.gw{
	width: 77px;
	height: 40px;
	border: solid 0px white;
	float: right;
}
.Go_t{
	width: 66px;
	height: 34px;
	border: solid 0px white;
	margin-top: -55px;
	margin-left: 26px;
	background: #F2F2F2;
}
.GO_r:link{color: #CC9999;}
.GO_r:visited{color: #CC9999;}
.GO_r:active{color: #CC9999;}
.GO_r:hover{color: #AFEEEE;}
.GO_r{
	text-decoration: none;
}
.nav_logo2{
	float: left;
	margin-left: 285px;
}
.ul_navT{
	width: 510px;
	height: 74px;
	border: solid 1px white;
	margin-left: 46px;
	float: left;
}
/*.ul_navT li{
	width: 100px;
	height: 74px;
	border: solid 1px white;
	list-style: none;
	line-height: 71px;
	text-align: center;
}*/
.navhad_bor:link{
	width: 100px;
	color: black;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:visited{
	color: black;
	width: 100px;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:active{
	color: black;
	width: 100px;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:hover{
	color: #AFEEEE;
	width: 100px;
	height: 74px;
	border-bottom: solid 7px #AFEEEE;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor{
	text-decoration: none;
}
#nav_ss{
	width: 340px;
	height: 33px;
	border: solid 0px red;
	border-radius: 20px;
	background: #F5F5F5;
	margin-top: 22px;
	margin-left: 139px;
	position: absolute;
}
.img_sh{
	width: 34px;
	height: 32px;
	border: solid 0px #CC9999;
	border-radius: 40px;
	position: absolute;
	left: 1507px;
	top: 62.5px;
}
.Ctetion_bx{
	width: 1307px;
	height: 4555px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 61px;
}
.ct_wzbj1{
	width: 917px;
	height: 275px;
	border-bottom: solid 2.7px #EAEAEA;
}
.ct_wz1{
	font-size: 18px;
	color: #3A3A3A;
}
.ct_wz2{
	margin-top: 27px;
	font-size: 14px;
	color: #333333;
}
.ct_wz3{
	font-size: 14px;
	color: #333333;
}
.ct_wz4{
	font-size: 14px;
	color: #333333;
}
.ct_zw1{
	width: 917px;
	height: 345px;
	border-bottom: solid 2.7px #EAEAEA;
	margin-top: 27px;
}
.ct_zz1{
	position: relative;
	top: 7px;
}
.ct_zzz1{
	font-size: 18px;
	color: #B51D25;
}
.ct_xx1{
	margin-top: 27px;
	color: #000000;
}
.ct_xxx1{
	margin-top: 17px;
	font-size: 12px;
	color: #717171;
}
.ct_xxx2{
	margin-top: 7px;
	font-size: 12px;
	color: #717171;
}
.ct_xxx3{
	margin-top: 7px;
	font-size: 12px;
	color: #717171;
}
.ct_xxx4{
	margin-top: 7px;
	font-size: 12px;
	color: #717171;
}
.ct_jl1{
	font-size: 14px;
	color: #CA141D;
}
.ct_zw2{
	width: 917px;
	height: 335px;
	border-bottom: solid 0px #EAEAEA;
	margin-top: 7px;
}
.ct_xbb{
	float: right;
	margin-top: 27px;
}
.ct_xbb1{
	font-size: 14px;
	color: #717171;
	margin-top: 27px;
}
.ct_xbb2{
	font-size: 14px;
	color: #3A3A3A;
	margin-top: 27px;
}
.ct_xbb3{
	font-size: 14px;
	color: #CA141D;
	margin-top: 27px;
}
.ct_xbb33{
	font-size: 14px;
	color: #717171;
	margin-top: 7px;
}
.Tail_bar{
	width: 1900px;
	height: 379px;
	background: #F9F9F9;
	border: solid 0px red;
	margin-top: 166px;
	margin-left: -297.7px;
}
.Tail_in{
	width: 1211px;
	height: 379px;
	border: solid 0px red;
	margin: 0 auto;
	background-color: #F9F9F9;
}
.Tail_top{
	width: 1210px;
	height: 87px;
	border-bottom: solid 1px #E5E5E5;
	list-style: none;
}
.Tail_img1{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img2{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img3{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img4{
	width: 371px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_i1{
	position: relative;
	left: -42px;
	top: 12px;
}
.Tail_i2{
	position: relative;
	left: -45px;
	top: 12px;
}
.Tail_i3{
	position: relative;
	left: -62px;
	top: 12px;
}
.Tail_i4{
	position: relative;
	left: -60px;
	top: 12px;
}
.Tail_img1 a:link{color: #3A3A3A;}
.Tail_img1 a:visited{color: #3A3A3A;}
.Tail_img1 a:active{color: #3A3A3A;}
.Tail_img1 a:hover{color: #CC9999;}
.Tail_img1 a{
	text-decoration: none;
}
.Tail_img2 a:link{color: #3A3A3A;}
.Tail_img2 a:visited{color: #3A3A3A;}
.Tail_img2 a:active{color: #3A3A3A;}
.Tail_img2 a:hover{color: #CC9999;}
.Tail_img2 a{
	text-decoration: none;
}

.Tail_img3 a:link{color: #3A3A3A;}
.Tail_img3 a:visited{color: #3A3A3A;}
.Tail_img3 a:active{color: #3A3A3A;}
.Tail_img3 a:hover{color: #CC9999;}
.Tail_img3 a{
	text-decoration: none;
}

.Tail_img4 a:link{color: #3A3A3A;}
.Tail_img4 a:visited{color: #3A3A3A;}
.Tail_img4 a:active{color: #3A3A3A;}
.Tail_img4 a:hover{color: #CC9999;}
.Tail_img4 a{
	text-decoration: none;
}
.Tail_con{
	width: 1209px;
	height: 211px;
	border-bottom: solid 1px #E5E5E5;
	margin: 0px auto;
}
.Tail_ber1{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx1{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx2{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx3{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx4{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx5{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber2{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx6{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx7{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx8{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx9{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx10{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx11{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber3{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx12{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx13{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx14{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx15{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx16{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx17{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber4{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx18{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx19{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx20{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx21{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx22{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber5{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx23{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx24{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx25{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx26{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx27{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx28{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx29{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber6{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx30{
	width: 153.33px;
	height: 28px;
	border-right: solid 1px #E5E5E5;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx31{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx32{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx33{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx34{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx35{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx2 a:link{color: #777777;}
.Tail_ctx2 a:visited{color: #777777;}
.Tail_ctx2 a:active{color: #777777;}
.Tail_ctx2 a:hover{color: #CC9999;}
.Tail_ctx2 a{
	text-decoration: none;
}
.Tail_ctx3 a:link{color: #777777;}
.Tail_ctx3 a:visited{color: #777777;}
.Tail_ctx3 a:active{color: #777777;}
.Tail_ctx3 a:hover{color: #CC9999;}
.Tail_ctx3 a{
	text-decoration: none;
}
.Tail_ctx4 a:link{color: #777777;}
.Tail_ctx4 a:visited{color: #777777;}
.Tail_ctx4 a:active{color: #777777;}
.Tail_ctx4 a:hover{color: #CC9999;}
.Tail_ctx4 a{
	text-decoration: none;
}
.Tail_ctx5 a:link{color: #777777;}
.Tail_ctx5 a:visited{color: #777777;}
.Tail_ctx5 a:active{color: #777777;}
.Tail_ctx5 a:hover{color: #CC9999;}
.Tail_ctx5 a{
	text-decoration: none;
}
.Tail_ctx7 a:link{color: #777777;}
.Tail_ctx7 a:visited{color: #777777;}
.Tail_ctx7 a:active{color: #777777;}
.Tail_ctx7 a:hover{color: #CC9999;}
.Tail_ctx7 a{
	text-decoration: none;
}
.Tail_ctx8 a:link{color: #777777;}
.Tail_ctx8 a:visited{color: #777777;}
.Tail_ctx8 a:active{color: #777777;}
.Tail_ctx8 a:hover{color: #CC9999;}
.Tail_ctx8 a{
	text-decoration: none;
}
.Tail_ctx9 a:link{color: #777777;}
.Tail_ctx9 a:visited{color: #777777;}
.Tail_ctx9 a:active{color: #777777;}
.Tail_ctx9 a:hover{color: #CC9999;}
.Tail_ctx9 a{
	text-decoration: none;
}
.Tail_ctx10 a:link{color: #777777;}
.Tail_ctx10 a:visited{color: #777777;}
.Tail_ctx10 a:active{color: #777777;}
.Tail_ctx10 a:hover{color: #CC9999;}
.Tail_ctx10 a{
	text-decoration: none;
}
.Tail_ctx11 a:link{color: #777777;}
.Tail_ctx11 a:visited{color: #777777;}
.Tail_ctx11 a:active{color: #777777;}
.Tail_ctx11 a:hover{color: #CC9999;}
.Tail_ctx11 a{
	text-decoration: none;
}
.Tail_ctx13 a:link{color: #777777;}
.Tail_ctx13 a:visited{color: #777777;}
.Tail_ctx13 a:active{color: #777777;}
.Tail_ctx13 a:hover{color: #CC9999;}
.Tail_ctx13 a{
	text-decoration: none;
}
.Tail_ctx14 a:link{color: #777777;}
.Tail_ctx14 a:visited{color: #777777;}
.Tail_ctx14 a:active{color: #777777;}
.Tail_ctx14 a:hover{color: #CC9999;}
.Tail_ctx14 a{
	text-decoration: none;
}
.Tail_ctx15 a:link{color: #777777;}
.Tail_ctx15 a:visited{color: #777777;}
.Tail_ctx15 a:active{color: #777777;}
.Tail_ctx15 a:hover{color: #CC9999;}
.Tail_ctx15 a{
	text-decoration: none;
}
.Tail_ctx16 a:link{color: #777777;}
.Tail_ctx16 a:visited{color: #777777;}
.Tail_ctx16 a:active{color: #777777;}
.Tail_ctx16 a:hover{color: #CC9999;}
.Tail_ctx16 a{
	text-decoration: none;
}
.Tail_ctx17 a:link{color: #777777;}
.Tail_ctx17 a:visited{color: #777777;}
.Tail_ctx17 a:active{color: #777777;}
.Tail_ctx17 a:hover{color: #CC9999;}
.Tail_ctx17 a{
	text-decoration: none;
}
.Tail_ctx19 a:link{color: #777777;}
.Tail_ctx19 a:visited{color: #777777;}
.Tail_ctx19 a:active{color: #777777;}
.Tail_ctx19 a:hover{color: #CC9999;}
.Tail_ctx19 a{
	text-decoration: none;
}
.Tail_ctx20 a:link{color: #777777;}
.Tail_ctx20 a:visited{color: #777777;}
.Tail_ctx20 a:active{color: #777777;}
.Tail_ctx20 a:hover{color: #CC9999;}
.Tail_ctx20 a{
	text-decoration: none;
}
.Tail_ctx21 a:link{color: #777777;}
.Tail_ctx21 a:visited{color: #777777;}
.Tail_ctx21 a:active{color: #777777;}
.Tail_ctx21 a:hover{color: #CC9999;}
.Tail_ctx21 a{
	text-decoration: none;
}
.Tail_ctx22 a:link{color: #777777;}
.Tail_ctx22 a:visited{color: #777777;}
.Tail_ctx22 a:active{color: #777777;}
.Tail_ctx22 a:hover{color: #CC9999;}
.Tail_ctx22 a{
	text-decoration: none;
}
.Tail_ctx24 a:link{color: #777777;}
.Tail_ctx24 a:visited{color: #777777;}
.Tail_ctx24 a:active{color: #777777;}
.Tail_ctx24 a:hover{color: #CC9999;}
.Tail_ctx24 a{
	text-decoration: none;
}
.Tail_ctx25 a:link{color: #777777;}
.Tail_ctx25 a:visited{color: #777777;}
.Tail_ctx25 a:active{color: #777777;}
.Tail_ctx25 a:hover{color: #CC9999;}
.Tail_ctx25 a{
	text-decoration: none;
}
.Tail_ctx26 a:link{color: #777777;}
.Tail_ctx26 a:visited{color: #777777;}
.Tail_ctx26 a:active{color: #777777;}
.Tail_ctx26 a:hover{color: #CC9999;}
.Tail_ctx26 a{
	text-decoration: none;
}
.Tail_ctx27 a:link{color: #777777;}
.Tail_ctx27 a:visited{color: #777777;}
.Tail_ctx27 a:active{color: #777777;}
.Tail_ctx27 a:hover{color: #CC9999;}
.Tail_ctx27 a{
	text-decoration: none;
}
.Tail_ctx28 a:link{color: #777777;}
.Tail_ctx28 a:visited{color: #777777;}
.Tail_ctx28 a:active{color: #777777;}
.Tail_ctx28 a:hover{color: #CC9999;}
.Tail_ctx28 a{
	text-decoration: none;
}
.Tail_ctx29 a:link{color: #777777;}
.Tail_ctx29 a:visited{color: #777777;}
.Tail_ctx29 a:active{color: #777777;}
.Tail_ctx29 a:hover{color: #CC9999;}
.Tail_ctx29 a{
	text-decoration: none;
}
.Tail_ctx31 a:link{color: #777777;}
.Tail_ctx31 a:visited{color: #777777;}
.Tail_ctx31 a:active{color: #777777;}
.Tail_ctx31 a:hover{color: #CC9999;}
.Tail_ctx31 a{
	text-decoration: none;
}
.Tail_ctx32 a:link{color: #777777;}
.Tail_ctx32 a:visited{color: #777777;}
.Tail_ctx32 a:active{color: #777777;}
.Tail_ctx32 a:hover{color: #CC9999;}
.Tail_ctx32 a{
	text-decoration: none;
}
.Tail_ctx33 a:link{color: #777777;}
.Tail_ctx33 a:visited{color: #777777;}
.Tail_ctx33 a:active{color: #777777;}
.Tail_ctx33 a:hover{color: #CC9999;}
.Tail_ctx33 a{
	text-decoration: none;
}
.Tail_ctx34 a:link{color: #777777;}
.Tail_ctx34 a:visited{color: #777777;}
.Tail_ctx34 a:active{color: #777777;}
.Tail_ctx34 a:hover{color: #CC9999;}
.Tail_ctx34 a{
	text-decoration: none;
}
.Tail_ctx35 a:link{color: #777777;}
.Tail_ctx35 a:visited{color: #777777;}
.Tail_ctx35 a:active{color: #777777;}
.Tail_ctx35 a:hover{color: #CC9999;}
.Tail_ctx35 a{
	text-decoration: none;
}
.Tail_ber7{
	width: 279px;
	height: 160px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
	margin-left: 7px;
}
.Tail_ctx36{
	font-size: 24px;
	color: #CB242B;
	text-align: center;
}
.Tail_ctx37{
	font-size: 14px;
	color: #333333;
	text-align: center;
	margin-top: 7px;
}
.Tail_ctx38{
	width: 170px;
	height: 34px;
	border: solid 1px #CB242B;
	border-radius: 7px;
	color: #CB242B;
	font-size: 14px;
	text-align: center;
	line-height: 31px;
	margin: 0px auto;
	margin-top: 11px;
}
.Tail_ctx38 img{
	width: 17px;
	height: 17px;
	position: relative;
	left: -17px;
	top: 3px;
}
.Tail_ctx38 a:link{color: #CB242B;}
.Tail_ctx38 a:visited{color: #CB242B;}
.Tail_ctx38 a:active{color: #CB242B;}
.Tail_ctx38 a:hover{color: #CB242B;}
.Tail_ctx38 a{
	text-decoration: none;
}
.Tail_ctx39{
	color: #333333;
	font-size: 14px;
	margin-top: 17px;
	margin-left: 32px;
	list-style: none;
}
.xt1{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt2{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt3{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt4{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xyj{
	width: 80px;
	height: 21px;
	float: left;
}
.w_logo{
	margin-top: 23.7px;
	float: left;
}
.w_z1{
	float: left;
	font-size: 12px;
	margin-top: 22px;
	margin-left: 17px;
}
.w_z2{
	float: left;
	font-size: 12px;
	margin-left: 17px;
	margin-top: 7px;
	color: #A4A4A4;
}
.w_img1{
	float: right;
	margin-top: -17px;
}
.w_img2{
	float: right;
	margin-top: -18px;
	margin-left: 12px;
}
.w_z1 a:link{color: #777777;}
.w_z1 a:visited{color: #777777;}
.w_z1 a:active{color: #777777;}
.w_z1 a:hover{color: #CC9999;}
.w_z1 a{
	text-decoration: none;
}
.w_z2 a:link{color: #A4A4A4;}
.w_z2 a:visited{color: #A4A4A4;}
.w_z2 a:active{color: #A4A4A4;}
.w_z2 a:hover{color: #CC9999;}
.w_z2 a{
	text-decoration: none;
}
