*{
	margin: 0;
	padding: 0;
}
.ulTag_L{
	width: 490px;
	height: 40px;
	border: solid 0px white;
	font-size:13px;
	color: #A4A4A4;
	line-height: 40px;
	margin-left: 288px;
	float: left;
}
.ulTag_L li{
	list-style: none;
	padding: 3px;
}
.int_L:link{color: #A4A4A4;}
.int_L:visited{color: #A4A4A4;}
.int_L:active{color: #A4A4A4;}
.int_L:hover{color: #AFEEEE;}
.int_L{
	text-decoration: none;
	padding: 3px;
}
.ulTag_R{
	width: 433px;
	height: 40px;
	border: solid 0px red;
	font-size:13px;
	color: #A4A4A4;
	line-height: 40px;
	position: absolute;
	left: 1155px;
}
.ulTag_R li{
	list-style: none;
	padding: 3px;
}
.int_R:link{color: #A4A4A4;}
.int_R:visited{color: #A4A4A4;}
.int_R:active{color: #A4A4A4;}
.int_R:hover{color: #AFEEEE;}
.int_R{
	text-decoration: none;
	padding: 3px;
}
.gw{
	width: 77px;
	height: 40px;
	border: solid 0px white;
	float: right;
}
.Go_t{
	width: 66px;
	height: 34px;
	border: solid 0px white;
	margin-top: -55px;
	margin-left: 26px;
	background: #F2F2F2;
}
.GO_r:link{color: #CC9999;}
.GO_r:visited{color: #CC9999;}
.GO_r:active{color: #CC9999;}
.GO_r:hover{color: #AFEEEE;}
.GO_r{
	text-decoration: none;
}
.nav_logo2{
	float: left;
	margin-left: 285px;
}
.ul_navT{
	width: 510px;
	height: 74px;
	border: solid 1px white;
	margin-left: 46px;
	float: left;
}
/*.ul_navT li{
	width: 100px;
	height: 74px;
	border: solid 1px white;
	list-style: none;
	line-height: 71px;
	text-align: center;
}*/
.navhad_bor:link{
	width: 100px;
	color: black;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:visited{
	color: black;
	width: 100px;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:active{
	color: black;
	width: 100px;
	height: 74px;
	border-bottom: solid 1px white;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor:hover{
	color: #AFEEEE;
	width: 100px;
	height: 74px;
	border-bottom: solid 7px #AFEEEE;
	list-style: none;
	line-height: 73px;
	text-align: center;
	margin-left: 11px;}
.navhad_bor{
	text-decoration: none;
}
#nav_ss{
	width: 340px;
	height: 33px;
	border: solid 0px red;
	border-radius: 20px;
	background: #F5F5F5;
	margin-top: 22px;
	margin-left: 139px;
	position: absolute;
}
.img_sh{
	width: 34px;
	height: 32px;
	border: solid 0px #CC9999;
	border-radius: 40px;
	position: absolute;
	left: 1529px;
	top: 62.5px;
}
.swiper-container {
    width: 1903px;
    height: 450px;
}
.Ctetion_in{
	width: 1206px;
	height: 4727px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 61px;
}
.Ction_ber1{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
}
.Ction_txt1{
	width: 116px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_one{
	width: 1203px;
	height: 280px;
	border: solid 0px #EBEBEB;
	list-style: none;
	margin-top: 17px;
	margin-left: 0.7px;
}
.Ction_img1{
	float: left;
	border: solid 1px #EBEBEB;
	line-height: 7px;
}
.Ction_two{
	width: 1203px;
	height: 192px;
	border: solid 0px #EBEBEB;
	list-style: none;
	margin-top: 13px;
}
.Ction_img2{
	width: 386px;
	height: 192px;
	float: left;
	border: solid 0px #EBEBEB;
	margin-top: -1px;
}
.Ction_img3{
	width: 386px;
	height: 192px;
	float: left;
	border: solid 0px #EBEBEB;
	margin-left: 22px;
}
.Ction_ber2{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
	margin-top: 66px;
}
.Ction_txt2{
	width: 116px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_txt3{
	width: 177px;
	height: 20px;
	border: solid 0px red;
	margin: 0 auto;
}
.Ction_txt3 p{
	float: left;
	margin-left: 17px;
	margin-top: 17px;
	color: #717171;
}
.Ction_txt3 p:link{color: #CC9999;}
.Ction_txt3 p:visited{color: #CC9999;}
.Ction_txt3 p:active{color: #CC9999;}
.Ction_txt3 p:hover{color: #CC9999;}
.Ction_txt3 p{
	text-decoration: none;
}
.Ctxt_glink{
	width: 66px;
	height: 29px;
	border: solid 1px #717171;
	margin-top: -7px;
	float: right;
	line-height: 29px;
	text-align: center;
	font-size: 11.5px;
}
.Ctxt_glink:hover{border: solid 1px #CC9999;}
.Ctxt_tlink:link{color: #3A3A3A;}
.Ctxt_tlink:visited{color: #3A3A3A;}
.Ctxt_tlink:active{color: #3A3A3A;}
.Ctxt_tlink:hover{color: #CC9999;}
.Ctxt_tlink{
	text-decoration: none;
}
.Ction_three{
	width: 1203px;
	height: 592px;
	border: solid 0px red;
	margin-top: 41px;	
}
.Ction_img4{
	float: left;
}
.Ction_img5{
	margin-left: 11px;
}
.Ction_img6{
	margin-left: 7px;
}
.Ction_img7{
	float: left;
	margin-left: 11px;
	margin-top: 6px;
}
.Ction_img8{
	float: left;
	margin-left: 12px;
	margin-top: 6px;
}
.Ction_img9{
	float: left;
	margin-left: 11px;
	margin-top: 6px;
}
.Ction_ber3{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
	margin-top: 77px;
}
.Ction_txt4{
	width: 229px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_txt5{
	width: 277px;
	height: 20px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 17px;
}
.Ction_txt5 p{
	float: left;
	margin-left: 21.7px;
	color: #717171;
	font-size: 16px;
}
.Ction_txt5 p:link{color: #CC9999;}
.Ction_txt5 p:visited{color: #CC9999;}
.Ction_txt5 p:active{color: #CC9999;}
.Ction_txt5 p:hover{color: #CC9999;}
.Ction_txt5 p{
	text-decoration: none;
}
.Ctxt_glinko{
	width: 66px;
	height: 29px;
	border: solid 1px #717171;
	margin-top: -17px;
	float: right;
	line-height: 29px;
	text-align: center;
	font-size: 11.5px;
}
.Ctxt_glinko:hover{border: solid 1px #CC9999;}
.Ctxt_tlinko:link{color: #3A3A3A;}
.Ctxt_tlinko:visited{color: #3A3A3A;}
.Ctxt_tlinko:active{color: #3A3A3A;}
.Ctxt_tlinko:hover{color: #CC9999;}
.Ctxt_tlinko{
	text-decoration: none;
}
.Ction_four{
	width: 1203px;
	height: 592px;
	border: solid 0px red;
	margin-top: 41px;	
}
.Ction_img10{
	float: left;
}
.Ction_img11{
	margin-left: 11px;
}
.Ction_img12{
	margin-left: 7px;
}
.Ction_img13{
	float: left;
	margin-left: 11px;
	margin-top: 7px;
}
.Ction_img14{
	float: left;
	margin-left: 12px;
	margin-top: 7px;
}
.Ction_img15{
	float: left;
	margin-left: 11px;
	margin-top: 7px;
}
.Ction_ber4{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
	margin-top: 66px;
}
.Ction_txt6{
	width: 116px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_txt7{
	width: 71px;
	height: 20px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 17px;
}
.Ction_txt7 p{
	float: left;
	color: #717171;
}
.Ction_txt7 p:link{color: #CC9999;}
.Ction_txt7 p:visited{color: #CC9999;}
.Ction_txt7 p:active{color: #CC9999;}
.Ction_txt7 p:hover{color: #CC9999;}
.Ction_txt7 p{
	text-decoration: none;
}
.Ctxt_glinkt{
	width: 66px;
	height: 29px;
	border: solid 1px #717171;
	margin-top: -16px;
	float: right;
	line-height: 29px;
	text-align: center;
	font-size: 11.5px;
}
.Ctxt_glinkt:hover{border: solid 1px #CC9999;}
.Ctxt_tlinkt:link{color: #3A3A3A;}
.Ctxt_tlinkt:visited{color: #3A3A3A;}
.Ctxt_tlinkt:active{color: #3A3A3A;}
.Ctxt_tlinkt:hover{color: #CC9999;}
.Ctxt_tlinkt{
	text-decoration: none;
}
.Ction_five{
	width: 1203px;
	height: 592px;
	border: solid 0px red;
	margin-top: 41px;	
}
.Ction_img16{
	float: left;
}
.Ction_img17{
	margin-left: 11px;
}
.Ction_img18{
	margin-left: 7px;
}
.Ction_img19{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img20{
	float: left;
	margin-left: 12px;
	margin-top: 8px;
}
.Ction_img21{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_ber5{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
	margin-top: 66px;
}
.Ction_txt8{
	width: 116px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_txt9{
	width: 711px;
	height: 20px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 17px;
}
.Ction_txt9 p{
	float: left;
	color: #717171;
	margin-left: 17px;
}
.Ction_txt9 p:link{color: #CC9999;}
.Ction_txt9 p:visited{color: #CC9999;}
.Ction_txt9 p:active{color: #CC9999;}
.Ction_txt9 p:hover{color: #CC9999;}
.Ction_txt9 p{
	text-decoration: none;
}
.Ctxt_glinkth{
	width: 66px;
	height: 29px;
	border: solid 1px #717171;
	margin-top: -23px;
	float: right;
	line-height: 29px;
	text-align: center;
	font-size: 11.5px;
}
.Ctxt_glinkth:hover{border: solid 1px #CC9999;}
.Ctxt_tlinkth:link{color: #3A3A3A;}
.Ctxt_tlinkth:visited{color: #3A3A3A;}
.Ctxt_tlinkth:active{color: #3A3A3A;}
.Ctxt_tlinkth:hover{color: #CC9999;}
.Ctxt_tlinkth{
	text-decoration: none;
}
.Ction_six{
	width: 1203px;
	height: 723px;
	border: solid 0px red;
	margin-top: 41px;	
}
.Ction_img22{
	float: left;
}
.Ction_img23{
	float: left;
	margin-left: 11px;
}
.Ction_img24{
	float: left;
	margin-left: 11px;
}
.Ction_img25{
	float: left;
	margin-left: 11px;
}
.Ction_img26{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img27{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img28{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img29{
	float: left;
	margin-top: 7px;
}
.Ction_ber6{
	width: 33px;
	height: 7px;
	background: #CC9999;
	margin: 0 auto;
	margin-top: 66px;
}
.Ction_txt10{
	width: 116px;
	height: 38px;
	border: solid 0px red;
	font-size: 29px;
	margin: 0 auto;
	margin-top: 3px;
}
.Ction_txt11{
	width: 237px;
	height: 20px;
	border: solid 0px red;
	margin: 0 auto;
	margin-top: 17px;
}
.Ction_txt11 p{
	float: left;
	color: #717171;
	margin-left: 18px;
}
.Ction_txt11 p:link{color: #CC9999;}
.Ction_txt11 p:visited{color: #CC9999;}
.Ction_txt11 p:active{color: #CC9999;}
.Ction_txt11 p:hover{color: #CC9999;}
.Ction_txt11 p{
	text-decoration: none;
}
.Ctxt_glinkf{
	width: 66px;
	height: 29px;
	border: solid 1px #717171;
	margin-top: -23px;
	float: right;
	line-height: 29px;
	text-align: center;
	font-size: 11.5px;
}
.Ctxt_glinkf:hover{border: solid 1px #CC9999;}
.Ctxt_tlinkf:link{color: #3A3A3A;}
.Ctxt_tlinkf:visited{color: #3A3A3A;}
.Ctxt_tlinkf:active{color: #3A3A3A;}
.Ctxt_tlinkf:hover{color: #CC9999;}
.Ctxt_tlinkf{
	text-decoration: none;
}
.Ction_seven{
	width: 1203px;
	height: 723px;
	border: solid 0px red;
	margin-top: 41px;	
}
.Ction_img30{
	float: left;
}
.Ction_img31{
	float: left;
	margin-left: 11px;
}
.Ction_img32{
	float: left;
	margin-left: 11px;
}
.Ction_img33{
	float: left;
	margin-left: 11px;
}
.Ction_img34{
	float: left;
	margin-left: 11px;
	margin-top: 8.5px;
}
.Ction_img35{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img36{
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
.Ction_img37{
	float: left;
	margin-top: 7px;
}
.Tail_bar{
	width: 100%;
	height: 379px;
	background: #F9F9F9;
	border: solid 0px red;
}
.Tail_in{
	width: 1211px;
	height: 379px;
	border: solid 0px red;
	margin: 0 auto;
	background-color: #F9F9F9;
}
.Tail_top{
	width: 1210px;
	height: 87px;
	border-bottom: solid 1px #E5E5E5;
	list-style: none;
}
.Tail_img1{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img2{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img3{
	width: 277px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_img4{
	width: 371px;
	height: 86px;
	border: solid 0px red;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin-top: -1px;
	line-height: 77px;
}
.Tail_i1{
	position: relative;
	left: -42px;
	top: 12px;
}
.Tail_i2{
	position: relative;
	left: -45px;
	top: 12px;
}
.Tail_i3{
	position: relative;
	left: -62px;
	top: 12px;
}
.Tail_i4{
	position: relative;
	left: -60px;
	top: 12px;
}
.Tail_img1 a:link{color: #3A3A3A;}
.Tail_img1 a:visited{color: #3A3A3A;}
.Tail_img1 a:active{color: #3A3A3A;}
.Tail_img1 a:hover{color: #CC9999;}
.Tail_img1 a{
	text-decoration: none;
}
.Tail_img2 a:link{color: #3A3A3A;}
.Tail_img2 a:visited{color: #3A3A3A;}
.Tail_img2 a:active{color: #3A3A3A;}
.Tail_img2 a:hover{color: #CC9999;}
.Tail_img2 a{
	text-decoration: none;
}

.Tail_img3 a:link{color: #3A3A3A;}
.Tail_img3 a:visited{color: #3A3A3A;}
.Tail_img3 a:active{color: #3A3A3A;}
.Tail_img3 a:hover{color: #CC9999;}
.Tail_img3 a{
	text-decoration: none;
}

.Tail_img4 a:link{color: #3A3A3A;}
.Tail_img4 a:visited{color: #3A3A3A;}
.Tail_img4 a:active{color: #3A3A3A;}
.Tail_img4 a:hover{color: #CC9999;}
.Tail_img4 a{
	text-decoration: none;
}
.Tail_con{
	width: 1209px;
	height: 211px;
	border-bottom: solid 1px #E5E5E5;
	margin: 0px auto;
}
.Tail_ber1{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx1{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx2{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx3{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx4{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx5{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber2{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx6{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx7{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx8{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx9{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx10{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx11{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber3{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx12{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx13{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx14{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx15{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx16{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx17{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber4{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx18{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx19{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx20{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx21{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx22{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber5{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx23{
	width: 153.33px;
	height: 28px;
	border: solid 0px red;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx24{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx25{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx26{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx27{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx28{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx29{
	width: 153.33px;
	height: 22px;
	border: solid 0px red;
	font-size: 12px;
	color: #777777;
}
.Tail_ber6{
	width: 153.33px;
	height: 177px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
}
.Tail_ctx30{
	width: 153.33px;
	height: 28px;
	border-right: solid 1px #E5E5E5;
	font-size: 14px;
	color: #333333;
}
.Tail_ctx31{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx32{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx33{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx34{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx35{
	width: 153.33px;
	height: 22px;
	border-right: solid 1px #E5E5E5;
	font-size: 12px;
	color: #777777;
}
.Tail_ctx2 a:link{color: #777777;}
.Tail_ctx2 a:visited{color: #777777;}
.Tail_ctx2 a:active{color: #777777;}
.Tail_ctx2 a:hover{color: #CC9999;}
.Tail_ctx2 a{
	text-decoration: none;
}
.Tail_ctx3 a:link{color: #777777;}
.Tail_ctx3 a:visited{color: #777777;}
.Tail_ctx3 a:active{color: #777777;}
.Tail_ctx3 a:hover{color: #CC9999;}
.Tail_ctx3 a{
	text-decoration: none;
}
.Tail_ctx4 a:link{color: #777777;}
.Tail_ctx4 a:visited{color: #777777;}
.Tail_ctx4 a:active{color: #777777;}
.Tail_ctx4 a:hover{color: #CC9999;}
.Tail_ctx4 a{
	text-decoration: none;
}
.Tail_ctx5 a:link{color: #777777;}
.Tail_ctx5 a:visited{color: #777777;}
.Tail_ctx5 a:active{color: #777777;}
.Tail_ctx5 a:hover{color: #CC9999;}
.Tail_ctx5 a{
	text-decoration: none;
}
.Tail_ctx7 a:link{color: #777777;}
.Tail_ctx7 a:visited{color: #777777;}
.Tail_ctx7 a:active{color: #777777;}
.Tail_ctx7 a:hover{color: #CC9999;}
.Tail_ctx7 a{
	text-decoration: none;
}
.Tail_ctx8 a:link{color: #777777;}
.Tail_ctx8 a:visited{color: #777777;}
.Tail_ctx8 a:active{color: #777777;}
.Tail_ctx8 a:hover{color: #CC9999;}
.Tail_ctx8 a{
	text-decoration: none;
}
.Tail_ctx9 a:link{color: #777777;}
.Tail_ctx9 a:visited{color: #777777;}
.Tail_ctx9 a:active{color: #777777;}
.Tail_ctx9 a:hover{color: #CC9999;}
.Tail_ctx9 a{
	text-decoration: none;
}
.Tail_ctx10 a:link{color: #777777;}
.Tail_ctx10 a:visited{color: #777777;}
.Tail_ctx10 a:active{color: #777777;}
.Tail_ctx10 a:hover{color: #CC9999;}
.Tail_ctx10 a{
	text-decoration: none;
}
.Tail_ctx11 a:link{color: #777777;}
.Tail_ctx11 a:visited{color: #777777;}
.Tail_ctx11 a:active{color: #777777;}
.Tail_ctx11 a:hover{color: #CC9999;}
.Tail_ctx11 a{
	text-decoration: none;
}
.Tail_ctx13 a:link{color: #777777;}
.Tail_ctx13 a:visited{color: #777777;}
.Tail_ctx13 a:active{color: #777777;}
.Tail_ctx13 a:hover{color: #CC9999;}
.Tail_ctx13 a{
	text-decoration: none;
}
.Tail_ctx14 a:link{color: #777777;}
.Tail_ctx14 a:visited{color: #777777;}
.Tail_ctx14 a:active{color: #777777;}
.Tail_ctx14 a:hover{color: #CC9999;}
.Tail_ctx14 a{
	text-decoration: none;
}
.Tail_ctx15 a:link{color: #777777;}
.Tail_ctx15 a:visited{color: #777777;}
.Tail_ctx15 a:active{color: #777777;}
.Tail_ctx15 a:hover{color: #CC9999;}
.Tail_ctx15 a{
	text-decoration: none;
}
.Tail_ctx16 a:link{color: #777777;}
.Tail_ctx16 a:visited{color: #777777;}
.Tail_ctx16 a:active{color: #777777;}
.Tail_ctx16 a:hover{color: #CC9999;}
.Tail_ctx16 a{
	text-decoration: none;
}
.Tail_ctx17 a:link{color: #777777;}
.Tail_ctx17 a:visited{color: #777777;}
.Tail_ctx17 a:active{color: #777777;}
.Tail_ctx17 a:hover{color: #CC9999;}
.Tail_ctx17 a{
	text-decoration: none;
}
.Tail_ctx19 a:link{color: #777777;}
.Tail_ctx19 a:visited{color: #777777;}
.Tail_ctx19 a:active{color: #777777;}
.Tail_ctx19 a:hover{color: #CC9999;}
.Tail_ctx19 a{
	text-decoration: none;
}
.Tail_ctx20 a:link{color: #777777;}
.Tail_ctx20 a:visited{color: #777777;}
.Tail_ctx20 a:active{color: #777777;}
.Tail_ctx20 a:hover{color: #CC9999;}
.Tail_ctx20 a{
	text-decoration: none;
}
.Tail_ctx21 a:link{color: #777777;}
.Tail_ctx21 a:visited{color: #777777;}
.Tail_ctx21 a:active{color: #777777;}
.Tail_ctx21 a:hover{color: #CC9999;}
.Tail_ctx21 a{
	text-decoration: none;
}
.Tail_ctx22 a:link{color: #777777;}
.Tail_ctx22 a:visited{color: #777777;}
.Tail_ctx22 a:active{color: #777777;}
.Tail_ctx22 a:hover{color: #CC9999;}
.Tail_ctx22 a{
	text-decoration: none;
}
.Tail_ctx24 a:link{color: #777777;}
.Tail_ctx24 a:visited{color: #777777;}
.Tail_ctx24 a:active{color: #777777;}
.Tail_ctx24 a:hover{color: #CC9999;}
.Tail_ctx24 a{
	text-decoration: none;
}
.Tail_ctx25 a:link{color: #777777;}
.Tail_ctx25 a:visited{color: #777777;}
.Tail_ctx25 a:active{color: #777777;}
.Tail_ctx25 a:hover{color: #CC9999;}
.Tail_ctx25 a{
	text-decoration: none;
}
.Tail_ctx26 a:link{color: #777777;}
.Tail_ctx26 a:visited{color: #777777;}
.Tail_ctx26 a:active{color: #777777;}
.Tail_ctx26 a:hover{color: #CC9999;}
.Tail_ctx26 a{
	text-decoration: none;
}
.Tail_ctx27 a:link{color: #777777;}
.Tail_ctx27 a:visited{color: #777777;}
.Tail_ctx27 a:active{color: #777777;}
.Tail_ctx27 a:hover{color: #CC9999;}
.Tail_ctx27 a{
	text-decoration: none;
}
.Tail_ctx28 a:link{color: #777777;}
.Tail_ctx28 a:visited{color: #777777;}
.Tail_ctx28 a:active{color: #777777;}
.Tail_ctx28 a:hover{color: #CC9999;}
.Tail_ctx28 a{
	text-decoration: none;
}
.Tail_ctx29 a:link{color: #777777;}
.Tail_ctx29 a:visited{color: #777777;}
.Tail_ctx29 a:active{color: #777777;}
.Tail_ctx29 a:hover{color: #CC9999;}
.Tail_ctx29 a{
	text-decoration: none;
}
.Tail_ctx31 a:link{color: #777777;}
.Tail_ctx31 a:visited{color: #777777;}
.Tail_ctx31 a:active{color: #777777;}
.Tail_ctx31 a:hover{color: #CC9999;}
.Tail_ctx31 a{
	text-decoration: none;
}
.Tail_ctx32 a:link{color: #777777;}
.Tail_ctx32 a:visited{color: #777777;}
.Tail_ctx32 a:active{color: #777777;}
.Tail_ctx32 a:hover{color: #CC9999;}
.Tail_ctx32 a{
	text-decoration: none;
}
.Tail_ctx33 a:link{color: #777777;}
.Tail_ctx33 a:visited{color: #777777;}
.Tail_ctx33 a:active{color: #777777;}
.Tail_ctx33 a:hover{color: #CC9999;}
.Tail_ctx33 a{
	text-decoration: none;
}
.Tail_ctx34 a:link{color: #777777;}
.Tail_ctx34 a:visited{color: #777777;}
.Tail_ctx34 a:active{color: #777777;}
.Tail_ctx34 a:hover{color: #CC9999;}
.Tail_ctx34 a{
	text-decoration: none;
}
.Tail_ctx35 a:link{color: #777777;}
.Tail_ctx35 a:visited{color: #777777;}
.Tail_ctx35 a:active{color: #777777;}
.Tail_ctx35 a:hover{color: #CC9999;}
.Tail_ctx35 a{
	text-decoration: none;
}
.Tail_ber7{
	width: 279px;
	height: 160px;
	border:solid 0px #AFEEEE;
	float: left;
	margin-top: 27px;
	margin-left: 7px;
}
.Tail_ctx36{
	font-size: 24px;
	color: #CB242B;
	text-align: center;
}
.Tail_ctx37{
	font-size: 14px;
	color: #333333;
	text-align: center;
	margin-top: 7px;
}
.Tail_ctx38{
	width: 170px;
	height: 34px;
	border: solid 1px #CB242B;
	border-radius: 7px;
	color: #CB242B;
	font-size: 14px;
	text-align: center;
	line-height: 31px;
	margin: 0px auto;
	margin-top: 11px;
}
.Tail_ctx38 img{
	width: 17px;
	height: 17px;
	position: relative;
	left: -17px;
	top: 3px;
}
.Tail_ctx38 a:link{color: #CB242B;}
.Tail_ctx38 a:visited{color: #CB242B;}
.Tail_ctx38 a:active{color: #CB242B;}
.Tail_ctx38 a:hover{color: #CB242B;}
.Tail_ctx38 a{
	text-decoration: none;
}
.Tail_ctx39{
	color: #333333;
	font-size: 14px;
	margin-top: 17px;
	margin-left: 32px;
	list-style: none;
}
.xt1{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt2{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt3{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xt4{
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 7px;
}
.xyj{
	width: 80px;
	height: 21px;
	float: left;
}
.w_logo{
	margin-top: 23.7px;
	float: left;
}
.w_z1{
	float: left;
	font-size: 12px;
	margin-top: 22px;
	margin-left: 17px;
}
.w_z2{
	float: left;
	font-size: 12px;
	margin-left: 17px;
	margin-top: 7px;
	color: #A4A4A4;
}
.w_img1{
	float: right;
	margin-top: -17px;
}
.w_img2{
	float: right;
	margin-top: -18px;
	margin-left: 12px;
}
.w_z1 a:link{color: #777777;}
.w_z1 a:visited{color: #777777;}
.w_z1 a:active{color: #777777;}
.w_z1 a:hover{color: #CC9999;}
.w_z1 a{
	text-decoration: none;
}
.w_z2 a:link{color: #A4A4A4;}
.w_z2 a:visited{color: #A4A4A4;}
.w_z2 a:active{color: #A4A4A4;}
.w_z2 a:hover{color: #CC9999;}
.w_z2 a{
	text-decoration: none;
}