*{
	margin: 0px;
	padding: 0px;
}
.nav_bad{
	width: 99.9%;
	height: 67px;
	background: #EBEBEB;
	border: solid 0px red;
}
.logohuawei{
	position: relative;
	left: 458px;
}
.logo_xa{
	display: inline-block;
	position: relative;
	left: 457px;
	top: -27px;
	color: #CCCCD2;
}
.logo_wz{
	color: #333333;
	position: relative;
	top: -25px;
	left: 477px;
	font-size: 18px;
}
.ts{
	width: 100%;
	height: 40px;
	border: solid 0px red;
	margin-left: -1px;
	margin-top: -2px;
	background: #FFFBE4;
}
.zhuyi{
	position: relative;
	top: 4px;
}
.zhuyiwz{
	width: 592px;
	height: 14px;
	border: solid 0px red;
	font-size: 12px;
	color: #989898;
	position: relative;
	left: 672px;
	top: 7px;
}
.by_bj{
	width: 100%;
	height: 590px;
	border: solid 0px red;
}
.bj_t{
	margin-left: 377px;
}
.h_wei{
	width: 100%;
	height: 77px;
	border: solid 0px red;
	margin-top: 19px;
}
.h_1{
	font-size: 12px;
	color: #999999;
	position: relative;
	left: 783px;
}
.h_1 a:link{color: #999999;}
.h_1 a:visited{color: #999999;}
.h_1 a:active{color: #999999;}
.h_1 a:hover{color: #999999;text-decoration: underline;}
.h_1 a{
	text-decoration: none;
}
.h_2{
	font-size: 12px;
	color: #999999;
	position: relative;
	left: 293px;
	top: 27px;
}
.dl_mian{
	width: 380px;
	height: 530px;
	background-color: #FFFFFF;
	position: relative;
	left: 1150px;
	top: -655px;
}
.dl_zybf{
	width: 380px;
	height: 313px;
	border: solid 0px red;
	position: relative;
	top: 25px;
}
.dl_wz1{
	width: 181px;
	height: 57px;
	border: solid 0px red;
	font-size: 20px;
	display: inline-block;
	text-align: center;
}
.dl_wz1 a:link{color: #333333;}
.dl_wz1 a:visited{color: #333333;}
.dl_wz1 a:active{color: #333333;}
.dl_wz1 a:hover{color: #B40707;}
.dl_wz1 a{
	text-decoration: none;
}
.dl_wz2{
	width: 181px;
	height: 57px;
	border: solid 0px red;
	font-size: 20px;
	display: inline-block;
	text-align: center;
}
.dl_wz2 a:link{color: #333333;}
.dl_wz2 a:visited{color: #333333;}
.dl_wz2 a:active{color: #333333;}
.dl_wz2 a:hover{color: #B40707;}
.dl_wz2 a{
	text-decoration: none;
}
.dl_xdx{
	display: inline-block;
}
.st_1{
	width: 328px;
	height: 46px;
	border: solid 0px #FFFFFF;
	margin-left: 23px;
}
.st_2{
	width: 328px;
	height: 46px;
	border: solid 1px #FFFFFF;
	margin-left: 23px;
}
.zhengma{
	font-size: 12px;
	color: #007DFF;
	float: left;
	margin-top: 16.7px;
	margin-left: 5px;
	height: 33px;
	border: solid 0px red;
}
.shoujitu{
	margin-top: 17px;
	margin-left: 23px;
	float: left;
}
.dl_dl{
    background-color: #b40707;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #b40707;
    color: #fff;
    width: 100%;
    border-radius: 0;
    line-height: 44px;
    height: 44px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 26px;
    text-align: center;
    margin-top: 0;
}
.jzmm{
	width: 17px;
	height: 17px;
	margin-left: 17px;
	margin-top: 17px;
}
.jmm_wz1{
	font-size: 12px;
	color: #333333;
	position: relative;
	top: -3.7px;
	left: 7px;
}
.jmm_gd{
	font-size: 12px;
	color: #007DFF;
	position: relative;
	top: -3.7px;
	left: 217px;
	text-decoration: none;
}
.xz1{
	position: relative;
	font-size: 12px;
	color: #007DFF;
	text-decoration: none;
	top: 9px;
}
.xz2{
	position: relative;
	font-size: 12px;
	color: #007DFF;
	text-decoration: none;
	top: 9px;
}
.xdd{
	position: relative;
	top: 8px;
	color: #CCCCCC;
}
.xddddd{
	margin-left: 122px;
}
.dl_xia{
	width: 380px;
	height: 187px;
	border: solid 0px red;
}
.xia_tu{
	margin-left: 21px;
	margin-top: 99px;
}
.QQQ{
	margin-left: 101px;
}
.zhi{
	position: relative;
	left: 17px;
	top: -1px;
}
.www{
	position: relative;
	left: 37px;
	top: -1px;
}

